@model Course

@{
    ViewData["Title"] = "Details Course";
}

@if (Model != null) {
    <dl>
            <dt>@Html.DisplayNameFor(c => c.Id)</dt>
            <dd>@Html.DisplayFor(c => c.Id)</dd>

            <dt>@Html.DisplayNameFor(c => c.Name)</dt>
            <dd>@Html.DisplayFor(c => c.Name)</dd>

            <dt>@Html.DisplayNameFor(c => c.Description)</dt>
            <dd>@Html.DisplayFor(c => c.Description)</dd>

            <dt>@Html.DisplayNameFor(c => c.Code)</dt>
            <dd>@Html.DisplayFor(c => c.Code)</dd>

            <dt>@Html.DisplayNameFor(c => c.hours)</dt>
            <dd>@Html.DisplayFor(c => c.hours)</dd>

        
        @if (Model.Professors.Count > 0)
        {
            <h2>Professors : </h2>
            foreach(var prof in Model.Professors)
            {
                <p>Prof. @prof.professor.Name</p>
            }            
        }
            <a asp-action="Index" asp-controller="Courses" class="btn btn-outline-light">
                Back To Courses List
            </a>
    </dl>
}
else {
    <h1 class="text-danger">@ViewBag.NotFound</h1>
}