@model Professor
@{
    ViewData["Title"] = "Details Professor";
}

@if (Model != null) {
    <dl>
            <dt>@Html.DisplayNameFor(p => p.Id)</dt>
            <dd>@Html.DisplayFor(p => p.Id)</dd>

            <dt>@Html.DisplayNameFor(p => p.Name)</dt>
            <dd>@Html.DisplayFor(p => p.Name)</dd>

            <dt>@Html.DisplayNameFor(p => p.Specialization)</dt>
            <dd>@Html.DisplayFor(p => p.Specialization)</dd>

            <dt>@Html.DisplayNameFor(p => p.SSN)</dt>
            <dd>@Html.DisplayFor(p => p.SSN)</dd>

            <dt>@Html.DisplayNameFor(p => p.Age)</dt>
            <dd>@Html.DisplayFor(p => p.Age)</dd>

            <dt>@Html.DisplayNameFor(p => p.imageUrl)</dt>
            <dd>
                <img src="@Html.DisplayFor(p => p.imageUrl)" />
            </dd>

            <a asp-action="Index" asp-controller="Professors" class="btn btn-outline-light">
                Back To Professors List
            </a>
    </dl>
}
else {
    <h1 class="text-danger">Professor Not Found :(</h1>
}